# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project Specific
database.db
static/uploads/*.pdf
!static/uploads/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Temporary files
pragma_info.txt
Project_Report.pdf
